:root{
    --primary-color: rgb(145, 146, 199);
    --secondary-color: rgb(3, 4, 83);
}

body{
    background-color: var(--primary-color);
    
}
.container{
    width: 60%;
    margin: auto;
    text-align: center;
    color:var(--secondary-color);
}

label{
    font-weight: bold;
    font-size: 1.2rem;
}

input[type="date"]{
    display: block;
    margin:10px auto;
    width:50%;
    padding: 5px;
    border-radius: 10px;
    outline:none;
    border: 2px solid var(--secondary-color);
}

input[type="submit"]{
    display: block;
    margin:auto;
    margin:10px auto;
    min-width:20%;
    max-width: 30%;
    padding: 5px;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid var(--secondary-color);
}

input[type="submit"]:hover{
    cursor: pointer;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

#result{
    display: none;
    width: 50%;
    margin: 1.5rem auto;
    padding: 5px;
    border: var(--secondary-color) solid 2px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.2rem;
}